version: "3.9"

services:
  backend:
    build: .
    container_name: url-shortener-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/urlshortener
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: url-shortener-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
